.row{
    padding: 20px;
}
div{
    background-color: darkcyan;
    text-align: center;  
}
@media(min-width: 576px){
    #fotodeperfil{
        margin-top: 20px;
        width: 80%;
        margin-bottom: 1em;
        border-radius: 20%;
        box-shadow: 3px 3px 3px grey;
        
        
    }
}
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 90%;
        box-shadow: 3px 3px 3px grey;
        left: 38%;
        top: 650px;
        
    }
}