 <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/perfilPhoto.png" class="img-fluid" id="fotodeperfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="texto1">
        <p><strong>Salazar Ana Carolina</strong></p>
        <p>Full Stack Developer Jr</p>
    </div>

    <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h1> Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque nulla quas hic nemo, velit, assumenda pariatur aliquam eaque dolorem voluptatibus at odit officia. Ad sunt repellat eligendi neque rerum quaerat.
        </p>
       </span>
    </div>
</div>
